*.iml
target
/.idea/
/lib/
/build
*.swp
/config
.DS_Store

.classpath
.project
.settings
/wms-server/target
/wms-common/target
/wms-client/target
/wms-server/*.iml
/*.iml
/wms-common/*.iml
/wms-client/*.iml
